*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #0e96e6f6;

}

.seach_Box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    padding: 10px;
    background: #3b3b3b;
    border-radius: 50px;

}
.seach_Box .searchText{
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    width: 0;
    color: #fff;
    transition: all .1s ease-in;
}

.seach_Box .searchIcon, i {
    padding: 1rem;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    background: #3b3b3b;
    transition: all .7s ease-in-out;
    color: #0e96e6f6;
    font-weight: 900;

}
.seach_Box:hover .searchText{
    width: 250px;
    padding: 0 1rem;
}

.seach_Box:hover .searchIcon  i{
    background: #fff;
}